<h1 style="color: white;" class="text-center">QUESTIONS</h1>
<div class="container">
<!-- <h3 style="color: white;" >Click below to add a question:</h3> -->
<button (click)="ToggleForm()">Enter New Question</button>
<app-answer-form *ngIf="Hide" (QuestionCreated)="AddQuesiton($event)"></app-answer-form>
<h3 style="color: white;">Enter UserId to add Favorites:</h3>
<input type="number" [(ngModel)]="userid" />


  <div class="row" >

    <div *ngFor="let q of Questions; index as i" class="col-sm-4 mb-4">
      <div>
        <div class="card card-flip h-100">
          <div class="card-front">
            <div class="card-body">
              <button (click)="RemoveQuestion(i)">x</button>
              <i class="fa fa-search fa-5x float-right"></i>
              <h3 class="card-title">Question: {{ q.questionid }}</h3>
              <p class="card-text">
                {{q.question}}
              </p>
              <button (click)="addFavorite(q.questionid)">🌟</button>
            </div>
          </div>
          <div class="card-back bg-white">
            <div class="card-body">
              <h3 class="card-title">Answer</h3>
              <p class="card-text">
                {{q.answer}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
