<h1 style="color: white;">Welcome to Study Buddy</h1>

<br>
<p style="color: white;">
  This website is a tool to help you study. Users can input their flashcards, hold click over them in order to turn it over and see the answer.

</p>
<br>

<div class="card" style="background-image: url('https://images.unsplash.com/photo-1578662996442-48f60103fc96?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YmxhY2tib2FyZHxlbnwwfHwwfHw%3D&w=1000&q=80');">
  <h2 style="color: white;">Usage</h2>
  <h3 style="color: white;">Generating new question: </h3>
  <p style="color: white;">In order to generate a new question view the <a href="https://localhost:44410/Question">Questions</a> page then press the "Enter New Question" to enter in a new question. Please enter in the appropirate question and answer forms, once finished please click the "Add Question" button to submit your question.</p>
  <h3 style="color: white;">Favoriting:</h3>
  <p style="color: white;">This website allows users to favorite questions that they wish to view on their <a href="https://localhost:44410/Favorites">Favorites</a> page. In order to favorite begin by assigning your UserId under the "Enter UserId to add Favorites:" section at the top of the questions page. After assigning an UserId please press the "🌟" button to assign it under your UserId.</p>
  <h3 style="color: white;">Removing a question:</h3>
  <p style="color: white;">To remove a question please click on the "x" button at the top right of your flashcard.</p>
  <h3 style="color: white;">Viewing Your Favorites</h3>
  <p style="color: white;">In order to view your favorited questions in the <a href="https://localhost:44410/Favorites">Favorites</a> page enter in your UserId and click submit, this will show you all the flashcards which you have favorited. </p>
</div>